@{
    ViewBag.Title = "CLE 1 Tank Trips";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Clevelands One Tank Trips!</h3>

<p>Lorem ipsum dolor sit amet, sem lacus, vel enim mauris metus velit. Vivamus lacinia elit maecenas occaecati, tellus maecenas mattis fringilla, ut massa, velit class et. Turpis aliquet leo lobortis integer eget amet, facilisis at amet sodales accumsan, ullamcorper nibh, vitae donec interdum. Vitae in curabitur dui pede sed imperdiet, vestibulum enim, justo nunc, eleifend euismod, sed congue mattis dignissim. In placerat etiam aliquet est non, arcu mauris urna sollicitudin aenean. Aenean libero vel sem luctus mauris, lorem massa integer sodales nec, aliquet cras vestibulum consectetuer amet arcu in. Nec nullam ipsum vitae, sed ante aliquam vehicula vestibulum mauris, porta phasellus nulla maecenas, duis morbi ante in nec vestibulum suspendisse.
</p>
<p>Volutpat pellentesque erat felis libero diam integer, nec integer ac morbi felis. Tristique cum, curabitur eros pede risus quam elit, bibendum nostra luctus donec dapibus felis purus. Ac enim dapibus. Quis ut wisi malesuada non euismod. Nulla lacinia semper sapien, ultricies wisi interdum ullamcorper quam, amet aliquam orci magnis et feugiat, maecenas mauris velit ligula, aenean dapibus nunc. Nisl nunc. Ante elementum venenatis nonummy in a. Id tellus quam velit, platea nunc justo vestibulum rhoncus, blandit justo nulla arcu orci amet, in fringilla sit rutrum, ut nullam magnis eros amet. Augue suscipit sollicitudin nunc nunc vehicula. Iaculis dictumst pede lectus eu sed. Diam augue dolor purus excepturi praesent, magna tincidunt ligula integer adipiscing in tincidunt. </p>
<p>Laoreet ipsum ut per ut magna metus, nulla quisque, fermentum tempor integer. Sem nulla amet leo. Nulla massa commodo condimentum. Ligula nam neque pretium fringilla. Justo id nunc massa lobortis nulla lectus, litora eros, sed non ipsum venenatis amet, tortor cras lectus pretium accumsan sed turpis. Nec in ullamcorper in vehicula dictum sequi. Lectus sit elit, quis donec risus vel vitae, magna tincidunt, gravida etiam sociis. Vestibulum nullam pharetra amet erat purus. Justo dolor fugit a, mattis massa, libero libero in pulvinar vitae nulla nam, vehicula tristique amet erat vivamus nibh ac. Fringilla proin sed penatibus non, integer lectus feugiat placerat, sed est. Dapibus dolor donec ligula</p>

@* changed the page to cleveland theme website *@