@{
    ViewBag.Title = "Contact Infomation";
}
<h2>@ViewBag.Title</h2>
<h3>Shirah Davis</h3>

<address>
    One Cleveland Way<br />
    Cleveland, OH 44120<br />
    <abbr title="Phone">Phone:</abbr>
    216-555-4839
</address>

<address>
    <strong>Travel INQ and Suggestions:</strong>   <a href="mailto:Support@example.com">clevelander@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">shirahd@example.com</a>
</address>

@* changed the contact info *@