@{
    ViewBag.Title = "Home Page";
}

@* changed the the layout in jumbotron and changed colors on buttons *@

<div class="jumbotron">
    <h1>CLE 1 Tank Trips</h1>
    <p class="lead">This website gives Clevelanders and visitors reviews on surrounding attractions that require one tank or less of gas.</p>
    <p><a href="http://localhost:51656/Home/About" class="btn btn-primary btn-lg">Learn About US &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clevelands own Website</h2>
        <p>
            Visit CLEVELAND.COM to find more events and attractions!
        </p>
        <p><a class="btn btn-primary" href="http://cleveland.com">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the location</h2>
        <p>If you need to find directions, click the link to Google Maps.</p>
        <p><a class="btn btn-primary" href="http://maps.google.com/">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Reviews</h2>
        <p>Check out our current reviews for Summer 2017!</p>
        <p><a class="btn btn-primary" href="http://localhost:51656/Reviews">Click Here &raquo;</a></p>
    </div>
</div>